<section class="section">
    <div class="tabs">
        <ul class="is-left">
            <li>
                <a>
                    <span class="icon is-small"><i class="fa fa-plus"></i></span>
                    <span>Create</span>
                </a>
            </li>
        </ul>

        <ul class="is-center">
            <li class="is-active js-todo-filters-all"><a>All</a></li>
            <li class="js-todo-filters-todo"><a>To do</a></li>
            <li class="js-todo-filters-done"><a>Done</a></li>
        </ul>
        <ul class="is-right">
        </ul>
    </div>
</section>
