<html>
    <head>
        <title>Todo list app</title>
        <link rel="stylesheet" href="/vendor/bulma/bulma.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <script src="vendor/jquery/jquery.min.js"></script>
    </head>
    <body>

        <%- include('filters') %>

        <%- include('add-todo') %>

        <section class="section">
            <div class="container is-fluid js-todos-container">

                <%- include('todo-items') %>

            </div>
        </section>

        <%- include('footer') %>

        <script>
            $(function(){
                filters.init('.js-todos-container')
            })
        </script>

    </body>
</html>
