<html ng-app="TodoApp">
    <head>
        <title>Todo list app</title>
        <script src="/vendor/angular/angular.js"></script>
    </head>
    <body ng-controller="MainController as vm">
        {{ vm.message }}
        <script src="/assets/js/app.js"></script>
    </body>
</html>