<html>
    <head>
        <title>Todo list app</title>
    </head>
    <body ng-controller="MainController as vm">
        
        <% todos.forEach(function(todo) { %>
            <input type="checkbox" <% if (todo.isDone) {%> checked <% } %> >
            <%= todo.todo %>
            <br/>
        <% }) %>
    </body>
</html>