<html>
    <head>
        <title>Todo list app</title>
        <link rel="stylesheet" href="/vendor/bulma/bulma.css">
    </head>
    <body>
        <section class="hero">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title">
                        Todo list App
                    </h1>
                    <h2 class="subtitle">
                        all your activities to do.
                    </h2>
                </div>
            </div>
        </section>

        <section class="section">
            <div class="container is-fluid">

                <% todos.forEach(function(todo) { %>
                    <div class="box">
                        <input type="checkbox" <% if (todo.isDone) { %> checked <% } %> >
                        <%= todo.todo %>
                    </div>
                <% }) %>

            </div>          
        </section>
    </body>
</html>