<div class="box">
    <div>
        <input type="checkbox" <% if (todo.isDone) { %> checked <% } %> >
        <%= todo.todo %>
    </div>
    <div>
        <a class="button is-danger is-small is-inverted">Delete</a>
    </div>
</div>
