<section class="section">
    <div class="container is-fluid">
        <p class="control">
            <input class="input is-large js-todo-create-input" type="text" placeholder="Buy milk">
        </p>
    </div>
</section>
