<html>
    <head>
        <title>Todo list app</title>
        <link rel="stylesheet" href="/vendor/bulma/bulma.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <script src="vendor/jquery/jquery.min.js"></script>
    </head>
    <body>

        <%- include('todo-list/filters') %>
        <script src="/assets/js/filters.js"></script>

        <%- include('todo-list/todo-input') %>
        <script src="/assets/js/todo-input.js"></script>

        <section class="section">
            <div class="container is-fluid js-todos-container">
                <%- include('todo-list/todo-items') %>
            </div>
        </section>
        <script src="/assets/js/todo-list.js"></script>

        <%- include('footer') %>

        <script>
            $(function(){
                filters.init('.js-todos-container')

                var refreshList = function() { return filters.getTodos() }

                todoList.init(refreshList)
                todoInput.init(refreshList)
            })
        </script>

    </body>
</html>
