<html>
<head>
    <title>Todo list app</title>
    <link rel="stylesheet" href="/vendor/bulma/bulma.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <script src="vendor/jquery/jquery.min.js"></script>
</head>
<body>
    <form action="/login" method="post">
        <label class="label">Username</label>
        <p class="control has-icon has-icon-right">
            <input name="username" class="input is-success" type="text" placeholder="username">
        </p>
        <label class="label">Password</label>
        <p class="control has-icon has-icon-right">
            <input name="password" class="input is-success" type="password" placeholder="password">
        </p>
        <p class="control">
            <input type="submit" class="button is-success" value="Log In" />
        </p>
    </form>

</body>
</html>
